/* got my icons for free from https://icons8.com */
#vb-sidebar .sidebar-button {
    -fx-background-color:#005bbd;
    -fx-text-fill: white;
    -fx-cursor:hand;
    -fx-background-radius: 0;
}

#vb-sidebar .sidebar-button:hover {
    -fx-background-color:#2990ff;
    -fx-text-fill: #005bbd;
    -fx-cursor:hand;
    -fx-background-radius: 0;

}

#vb-sidebar .sidebar-button-active {
    -fx-background-color:#2990ff;
    -fx-text-fill: #005bbd;
    -fx-cursor:hand;
    -fx-background-radius: 0;
}

#vb-sidebar .slider-button {
    -fx-background-color: #82beff;
    -fx-text-fill: #000000;
    -fx-cursor:hand;
    -fx-background-radius: 0;
}


#vb-sidebar .slider-button:hover {
    -fx-background-color: #2990ff;
    -fx-text-fill: #000000;
    -fx-cursor:hand;
    -fx-background-radius: 0;
}